<!-- TODO: add form validation -->
<form class="form-inline">
    <div class="form-group">
        <label>Title</label>
        <input 
            [(ngModel)]="newTask.title" 
            name="newTaskTitle"
            type="text" class="form-control" placeholder="My task"
        >
    </div>
    <div class="form-group">
        <label>Parent List</label>
        <select [(ngModel)]="newTask.listId" name="newTaskListId" class="form-control">
          <option 
            *ngFor="let list of allLists" 
            [ngValue]="list._id"
          >{{ list.title }}</option>
        </select>
    </div>
    <button (click)="addNewTask()" type="submit" class="btn btn-success">Add</button>
    <button *ngIf="taskEditMode" type="submit" class="btn btn-info">Save</button>
</form>