.main-container {
  margin-bottom: 30px;
}

.panel .table {
  margin-bottom: 5px;
}

.app-spinner {
  background: url(../img/loading.gif) no-repeat center center;
  height: 400px;
  width: 100%;
}

.table th.table-first-column {
  width: 50px;
}

.table-actions span.glyphicon {
  padding-left: 5px;
  padding-right: 5px;
  color: #999999;
}

.table-actions span.glyphicon:hover {
  cursor: pointer;
  color: #333333;
}

.checkbox.task-checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}

form input:invalid {
  border: 1px solid red;
}

ul.nav a.active {
  background-color: #1967BE;
}