.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2780E3;
 }
 
 .footer-container {
    width: auto;
    padding: 0 15px;
 }
 
 .footer-container .text-muted {
    margin: 10px 0;
    color: #FFFFFF;
 }