<!-- TODO: add form validation -->
<form class="form-inline" #addListForm="ngForm">
    <div class="form-group">
        <label>Title</label>
        <input 
            autofocus
            required
            inputColor
            [(ngModel)]="newList.title" 
            name="newListTitle"
            type="text" class="form-control" placeholder="My list"
        >
    </div>
    <div class="form-group">
        <label>Description</label>
        <input 
            inputColor
            [(ngModel)]="newList.description"
            name="newListDescription"
            type="text" class="form-control" placeholder="List description">
    </div>
    <button 
        [disabled]="!addListForm.form.valid"
        (click)="addNewList()" 
        type="submit" class="btn btn-success"
    >Add</button>
    <button *ngIf="listEditMode" type="submit" class="btn btn-info">Save</button>
</form>