<table class="table table-striped">
    <thead>
        <tr>
            <th class="table-first-column">#</th><th>List title</th><th>Description</th><th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let list of lists; let i = index;" [highlightElement]="rowHighlightColor">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ list.title }}</td>
            <td>{{ list.description }}</td>
            <td class="text-center table-actions">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                <span 
                    class="glyphicon glyphicon-remove"                    
                    aria-hidden="true"
                    (click)="deleteList(list)" 
                ></span>
            </td>
        </tr>      
    </tbody>
</table>