<div class="panel panel-default">    
    <div class="panel-heading">Task Lists</div>    
    
    <div class="panel-body">    
        <p>In this section You can add task lists (where you can add tasks later on Tasks section)</p>        
        <add-list-form    
            [listEditMode]="listEditMode"    
            (createListEvent)="onCreateList($event)"
        >    
        </add-list-form>    
    </div>    
        
    <lists-table    
        [taskLists]="taskLists"    
        (deleteListEvent)="onDeleteList($event)"    
    >
    </lists-table>    
</div>