@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

.app-spinner {
  background: url(img/loading.gif) no-repeat center center;
  height: 400px;
  width: 100%;
}

.table th.table-first-column {
  width: 50px;
}

.table-actions span.glyphicon {
  padding-left: 5px;
  padding-right: 5px;
  color: #999999;
}

.table-actions span.glyphicon:hover {
  cursor: pointer;
  color: #333333;
}
