@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

.main-container {
  margin-bottom: 30px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2780E3;
}

.footer-container {
  width: auto;
  padding: 0 15px;
}

.footer-container .text-muted {
  margin: 10px 0;
  color: #FFFFFF;
}

.panel .table {
  margin-bottom: 5px;
}

.app-spinner {
  background: url(img/loading.gif) no-repeat center center;
  height: 400px;
  width: 100%;
}

.table th.table-first-column {
  width: 50px;
}

.table-actions span.glyphicon {
  padding-left: 5px;
  padding-right: 5px;
  color: #999999;
}

.table-actions span.glyphicon:hover {
  cursor: pointer;
  color: #333333;
}

.checkbox.task-checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}
